
<p-toast></p-toast>

<article>
      <section class="heading">
		
        <figure class="heading__img"><img src="assets/besoin/10.jpg" alt="" /></figure>
		
	</section>

	<section class="content">
		<h1>Give Blood and Give the Gift of Life</h1>
            
		<h3>Before you give blood</h3>
        <div class="instructions">
            <p><a routerLink="instructions">1- Check you are able to give blood.</a></p>
            <p><a routerLink="../register">2- Sign up online</a></p>
            <p><a routerLink="form">3- find an appointment</a></p>
          </div>
		<h1>why giving blood ? </h1>
        <p>Every drop of blood you donate is a lifeline for someone in need. Whether it's a patient undergoing surgery,
             a cancer patient receiving treatment, or an accident victim in critical condition,
              your act of donating blood can be the difference between life and death. Blood donation is a simple yet profound way
               to contribute to the well-being of others in your community. It's a selfless gift that costs nothing but means everything.
                Join the cause, be a hero, and give the precious gift of life through blood donation.
             Your compassion has the power to save lives and create a ripple effect of hope and healing.</p>
	

	</section>
</article>