<div class="grid container">
	<div class="col-12"  style="padding: 50px;">
		<div class="card">
			<h5>Please fill</h5>
            <form [formGroup]="DonateMoneyForm" (ngSubmit)="save()" > 
			<div class="p-fluid p-formgrid grid">
				
                <div class="field col-6  ">
					<span class="p-input-icon-left">
						<i class="pi pi-user"></i>
						<input type="text" formControlName="donatorUsername"  pInputText placeholder="username"/>
					</span>
					<div  class="error-message" *ngIf=" DonateMoneyForm.get('donatorUsername')?.hasError('required') && DonateMoneyForm.get('donatorUsername')?.dirty" >
        
						<p-message severity="error" text="username is required"></p-message>
	
						</div>
				</div>
         
                <div class="field col-6  ">
					<span class="p-input-icon-left">
						<i class="pi pi-dollar"></i>
						<input type="number" formControlName="amount"  pInputText placeholder="amount"/>
					</span>
					<div  class="error-message" *ngIf=" DonateMoneyForm.get('amount')?.hasError('required') && DonateMoneyForm.get('amount')?.dirty" >
        
					     <p-message severity="error" text="amount is required"></p-message>
	
					 </div>
				</div>
         
            
                <div class="field col-12 ">
                    <label htmlFor="comment">Comment </label>
                    <textarea rows="5" cols="30" pInputTextarea formControlName="comment" ></textarea>
                </div>
                <div class="field col-3">
                    <p-button type="submit"  label="submit" severity="submit"></p-button>

                </div>
				<div class="field col-3">
                    <p-button  label="go back" severity="submit" routerLink="../"></p-button>

                </div>
			</div>
        </form>
		</div>
	</div>
</div>
