<article>
    <section class="heading">
      
      <figure class="heading__img"><img src="assets/besoin/10.jpg" alt="" /></figure>
      
  </section>

  <section class="content">
      <h1>Who can give blood?</h1>
      <h3>To donate blood you will need to:</h3>
      <ul class="instructions">
        <li>be generally fit and well</li>
        <li>be aged between 17 and 65</li>
        <li>weigh between 7 stone 12 lbs (50kg) and 25 stone (158kg)</li>
        <li>have suitable veins (we will check these before you donate)</li>
        <li>meet all donor eligibility criteria (we will check this with you before you donate)</li>
       
      </ul>
 
      <h1>Who can't donate blood? </h1>
      <h3>You can't donate blood if you:</h3>
      
      <ul class="instructions">
        <li>have had most types of cancer</li>
        <li>have some heart conditions</li>
        <li>have received blood, platelets, plasma or any other blood products after 1 January 1980</li>
        <li>have tested positive for HIV</li>
        <li>have had an organ transplant</li>
        <li>are a hepatitis B carrier</li>
        <li>are a hepatitis C carrier</li>
      </ul>

      <h1>Who might have to wait to donate blood</h1>
      <p>There are some health, travel and lifestyle reasons that
         may stop you from being
         able to donate blood on a temporary basis.</p>
         <p>If you are not sure you can donate, please call us on 0300 123 23 23 to discuss your situation..</p>
  </section>
</article>